[user]
        name = rain
	      email = 1544016010@qq.com
[alias]
        last = log -1
        co = checkout
        cm = commit
        br = branch
        rt = remote
        st = status
        lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -7
